@import 'tailwindcss';
@import '@voltui/components/themes.css';
@source '../node_modules/@voltui/components';
@source '../node_modules/angular-movement';

/* Global styles */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f172a;
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  background-color: inherit;
  color: inherit;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f8fafc;
    background-color: #020617;
  }
}

.analog-markdown p {
  text-align: left;
}
