@import 'tailwindcss';
@import '@voltui/components/themes.css';
@source '../node_modules/@voltui/components';
@source '../node_modules/angular-movement';

@custom-variant dark (&:where(.dark, .dark *));

/* Global styles */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  line-height: 1.1;
}

.analog-markdown p {
  text-align: left;
}
